@media only screen and (max-width: 1024px) {
    .mobile-manu span {
        display: block;
    }

    .sticky {
        width: 1024px;
    }

    .overly .close-btn {
        top: -1%;
        right: 2%;
    }

    .overlay-contant a {
        margin: 0 0 0 -15px;
    }

    .row {
        margin: 0 20px;
    }

    .hero-text-box {
        width: 100%;
    }

    html {
        font-size: 56%;
    }

    .main-nav {
        display: none;
    }

    .testimonial .testimonial-images {
        width: 100%;
        float: none;
        text-align: center;

    }

    .testimonial .testimonial-more {
        width: 100%;
        float: none;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
    }

    .span_1_of_2 {
        width: 48%;
    }

    .contact form {
        width: 100%;
        margin: 0;
    }

    .contact .col {
        width: 49.2%;
    }
}

@media only screen and (max-width: 980px) {
    .sticky {
        width: 980px;
    }

    .overly .close-btn {
        top: -2%;
        right: 2%;
    }

    .overlay-contant a {
        margin: 0 0 0 -10px;
    }

    html {
        font-size: 62%;
    }

    .span_1_of_4:nth-child(3) {
        margin-left: 0;
    }

    .testimonial .col:nth-child(3),
    .testimonial .col:nth-child(4) {
        margin-top: -5rem;
    }
}

@media only screen and (max-width: 812px) {
    .sticky {
        width: 812px;
    }

    .overly .close-btn {
        top: -2%;
        right: 10%;
    }

    .overlay-contant a {
        margin: 0 0 0 -60px;
    }
}

@media only screen and (max-width: 768px) {
    .sticky {
        width: 768px;
    }

    .overly .close-btn {
        top: -2%;
        right: 2%;
    }

    .overlay-contant a {
        margin: 0 0 0 -10px;
    }

    h1 {
        width: 91%;
    }

    .span_1_of_4 {
        width: 49.2%;
    }

    footer ul li {
        margin: 5px 25px;
    }

    footer ul li a {
        font-size: 2rem;
    }

    .span_1_of_4:nth-child(3),
    .span_1_of_4:nth-child(4) {
        margin-top: -10rem;
    }
}

@media only screen and (max-width: 740px) {
    .sticky {
        width: 740px;
    }

    .overly .close-btn {
        top: -2%;
        right: 2%;
    }

    .overlay-contant a {
        margin: 0 0 0 -10px;
    }
}

@media only screen and (max-width: 736px) {
    .sticky {
        width: 736px;
    }
}

@media only screen and (max-width: 667px) {
    .sticky {
        width: 667px;
    }

    .overly .close-btn {
        top: -2%;
        right: 2%;
    }

    .overlay-contant a {
        margin: 0 0 0 -10px;
    }
}

@media only screen and (max-width: 480px) {
    header {
        background-attachment: scroll;
    }

    .team {
        background-attachment: scroll;
    }

    .portfolio {
        background-attachment: scroll;
    }

    .contact {
        background-attachment: scroll;
    }

    .sticky {
        width: 480px;
    }

    .overly .close-btn {
        top: -2%;
        right: 19%;
    }

    .overlay-contant a {
        margin: 0 0 0 -87px;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 3rem;
        margin-top: 4rem;
    }

    .span_1_of_4 {
        width: 100%;
    }

    .span_1_of_2 {
        width: 100%;
    }

    .contact .span_1_of_2 {
        width: 100%;
    }

    footer li {
        margin: .5rem 1rem;
    }

    footer ul li a {
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 414px) {
    .sticky {
        width: 414px;
    }

    .overly .close-btn {
        top: -1%;
        right: 31%;
    }

    .overlay-contant a {
        margin: 0 0 0 -150px;
    }
}

@media only screen and (max-width: 375px) {
    .sticky {
        width: 375px;
    }

    .overly .close-btn {
        top: -1%;
        right: 37%;
    }

    .overlay-contant a {
        margin: 0 0 0 -195px;
    }
}

@media only screen and (max-width: 360px) {
    .sticky {
        width: 360px;
    }

    .overly .close-btn {
        top: -1%;
        right: 40%;
    }

    .overlay-contant a {
        margin: 0 0 0 -210px;
    }
}

@media only screen and (max-width: 320px) {
    .sticky {
        width: 320px;
    }

    .overly .close-btn {
        top: -1%;
        right: 47%;
    }

    .overlay-contant a {
        margin: 0 0 0 -252px;
    }
}